.budgets-container {
  display: flex;
  margin: 20px 0px;
  align-items: center;
  justify-content: space-between;
}

.budgets-buttons button {
  margin-left: 0.5rem;
}

.budget-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1rem;
  align-items: flex-start;
  margin: 1rem 0;
}
